@page

@using BrickAtHeart.Communities.Models.Extensions

@model RegisterModel

@{
    ViewData["Title"] = "Registration";
}

<div class="row">
    <div class="col-md">
        <section>
            @{
                if (Model.IdentityProviders.Count == 0)
                {
                    <div>
                        <p>
                            The are no external identity providers configured. Please contact this site's administrator to correct this issue.
                            Or, if you are the administrator, please reference <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a> for details on setting up external identity providers.
                        </p>
                    </div>
                }
                else
                {
                    <form method="post" class="form-horizontal" id="external-account" asp-page="./ExternalLogin" asp-route-returnUtl="@Model.ReturnUrl">
                        <div class="d-grid gap-2 col-3 mx-auto">
                            @foreach(AuthenticationScheme provider in Model.IdentityProviders)
                            {
                                <button type="submit" class="btn btn-dark" name="provider" value="@provider.Name" title="Register using your @provider.DisplayName account">
                                    <img src="@provider.GetLogoPath()" style="height: 21px; width: 21px;" />
                                    Register with @provider.DisplayName
                                </button>
                             }                            
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
